section#menu {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    text-align: center;
    z-index: 1000;
    overflow: hidden;

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: 100%;

        li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;


            a {
                text-decoration: none;
                font-size: 2.3em;
                transition: all .3s;
                border-radius: 5px;
                text-shadow: 1px 1px 1px rgb(234, 0, 255);
                padding: 2px 4px;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}