section#menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    height: 100%;
    margin-top: 8%;
    padding: 0 10px;

    h3 {
        font-size: 6vw;
        margin-top: 1%;
        margin-left: 7%;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: end;
        justify-content: space-between;

        li {
            text-align: end;
            display: flex;
            justify-content: end;

            a {
                font-size: 2vw;
                border-bottom: 2px solid white;
                transition: .3s all;
                padding: 5px;
                color: rgb(201, 200, 200);

                &:hover {
                    transform: scale(1.05);
                    color: white;
                }
            }
        }
    }
}