section#menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    text-align: center;

    ul {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
            list-style: none;

            a {
                text-decoration: none;
                font-size: 2em;
            }
        }
    }
}