@use "tailwindcss";

section#hero {
  @apply relative min-h-screen flex items-center justify-center pt-20 overflow-hidden;

  div.back {
    @apply absolute inset-0 bg-gradient-to-b from-[#0A0A0A]/99 via-[#1A0B2E]/20 to-[#0A0A0A] pointer-events-none;
  }
  div.container {
    @apply relative z-10 max-w-7xl mx-auto px-6 text-center;

    div {
      span.desc {
        @apply text-[#d4af37] inline-block font-mono text-sm tracking-[0.3em] uppercase mb-6;
      }

      h1 {
        @apply text-6xl md:text-8xl lg:text-9xl font-bold mb-8 leading-[0.9] tracking-tighter;
        span {
          font-family: "Playfair display";
        }
      }

      p {
        @apply text-gray-400 text-lg md:text-xl max-w-2xl mx-auto mb-12 font-medium leading-relaxed tracking-widest;
      }

      div {
        @apply flex flex-col sm:flex-row gap-4 justify-center;

        a {
          @apply relative px-8 py-4 font-bold rounded-full overflow-hidden transition-all;

          span {
            @apply relative z-10 flex items-center gap-1;
            .seta {
              @apply text-black transition-transform;
            }
          }
        }
      }
    }
  }

  div.rune {
    @apply absolute bottom-10 left-10 tracking-widest hidden lg:block animate-pulse text-[#e4af3e] p-2 bg-[#e4af3e]/1;
  }
}
