header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .languages-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2 {
            font-size: 1.5vw;
        }

        .languages {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            img {
                width: 3vw;
                height: 5vh;
                transition: .3s transform;
                image-rendering: pixelated;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}