@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@font-face {
  font-family: 'Hobbiton Brushhand';
  src: url('./assets/fonts/hobbitonbrushhand.ttf') format('truetype')
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-synthesis: none;
  font-family: 'Aldrich';
  font-synthesis: none;
  color: white;
  cursor: url('./assets/cursor/cursor.cur'), auto;
}

body {
  background-color: black;
}

h1 {
  font-family: 'Hobbiton Brushhand';
  font-size: 3em;
  color: rgb(255, 255, 255);
  cursor: url('./assets/cursor/pointer.cur'), auto;
  text-shadow: 1px 10px 10px rgb(119, 0, 255);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 1px 1px 1px red;
  cursor: url('./assets/cursor/pointer.cur'), auto;
}