@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@font-face {
  font-family: 'Hobbiton Brushhand';
  src: url('./assets/fonts/hobbitonbrushhand.ttf') format('truetype')
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Aldrich';
  font-synthesis: none;
  box-sizing: border-box;
  color: white;
  cursor: url('./assets/cursor/cursor.cur'), auto;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: black;
}

h1 {
  font-family: 'Hobbiton Brushhand';
  font-size: 5vw;
}