@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@font-face {
  font-family: 'Hobbiton Brushhand';
  src: url('./assets/fonts/hobbitonbrushhand.ttf') format('truetype')
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-synthesis: none;
  font-family: 'Aldrich';
  font-synthesis: none;
  color: white;
  cursor: url('./assets/cursor/cursor.cur'), auto;
}

body {
  background-color: #000;
}

h1 {
  font-family: 'Hobbiton Brushhand';
  font-size: 3em;
  cursor: url('./assets/cursor/pointer.cur'), auto;
}

a{
  cursor: url('./assets/cursor/pointer.cur'), auto;
}